.flashcard-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: black;
}

.flashcard-content p {
  font-size: var(--small-font-size);
}

.flashcard-footer {
  display: flex;
  justify-content: space-between; /* Ensure left and right elements are spaced apart */
  align-items: center; /* Align items vertically */
  font-weight: 600;
  gap: 5px;
}

.flashcard-footer-left,
.flashcard-footer-right {
  display: flex; /* Flex to align items if needed */
  align-items: center; /* Ensure vertical alignment */
}

.flashcard-footer p {
  margin: 0;
  font-size: 1.1rem;
}

.card-icon {
  font-size: 2.5rem;
  color: #444;
}

.card-icon {
  font-size: 2.5rem;
  color: #444;
}

.flashcard-set {
  width: 400px;
  height: 250px;
  background-color: #f9f9f9;
  background-image: url('../../images/snapstudy-design.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: black;
}

.flashcard-set:hover {
  transform: scale(1.05);
}

.flashcard-set-title {
  font-size: 20px;
  font-weight: bold;
}

.flashcard-set-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
