.newcard-page {
  background-color: #fff7cc;
  height: 100vh;
}

.flashcard-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: left;
  color: #333;
  margin-bottom: 20px;
}

.flashcard-header {
  display: flex;
  align-items: flex-start; 
  margin-bottom: 20px;
  justify-content: space-between; 
}

.flashcard-input {
  display: flex; 
  flex-direction: column; 
  flex: 1; 
  margin-right: 10px; 
}

.flashcard-input label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  text-transform: uppercase;
}

.flashcard-input input,
.flashcard-input textarea {
  width: 100%;
  max-width: 500px;
  background: transparent; 
  padding: 10px; 
  resize: none; 
  border: none; 
  border-bottom: 2px solid #5a5a5a; 
  height: 40px; 
  overflow: hidden; 
}

.flashcard-input input:focus,
.flashcard-input textarea:focus {
  background: white; 
  border-radius: 5px; 
  outline: none; 
  border-bottom: 2px solid #fbc02d; 
}

.flashcard-image {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex: 1; 
}

.flashcard-image button {
  background-color: #f0f0f0;
  border: 2px dashed #bbb;
  padding: 40px;
  width: 150px;
  height: 150px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.flashcard-cards .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  gap: 10px;
}

.card-body input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.remove-btn {
  background-color: #f95f62;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.add-card-btn {
  background-color: #fbc02d;
  border: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-image-btn {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.flashcard-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.create-btn,
.create-practice-btn {
  background-color: #fbc02d;
  border: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
