.newcard-page {
  background-color: #fffebe;
  min-height: 100vh;
}

.flashcard-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.flashcard-container h1 {
  text-align: left;
  color: #333;
  margin-bottom: 20px;
}

.flashcard-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  justify-content: space-between;
}

.flashcard-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.flashcard-input label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  text-transform: uppercase;
}

.flashcard-input input,
.flashcard-input textarea {
  width: 100%;
  max-width: 500px;
  background: transparent;
  padding: 10px;
  resize: none;
  border: none;
  border-bottom: 2px solid #5a5a5a;
  height: 40px;
  overflow: hidden;
}

.flashcard-input input:focus,
.flashcard-input textarea:focus {
  background: white;
  border-radius: 5px;
  outline: none;
  border-bottom: 2px solid #fbc02d;
}

.flashcard-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.flashcard-image button {
  background-color: #f0f0f0;
  border: 2px dashed #bbb;
  padding: 40px;
  width: 150px;
  height: 150px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.flashcard-cards .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;

  margin-bottom: 15px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}
.flashcard-cards {
  padding: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fffd70;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 700;
}

.card-body {
  display: flex;
  gap: 10px;
  padding: 0px 15px 15px 15px;
}

.card-body input {
  flex: 1;
  padding: 10px;
  border-bottom: 2px solid #5a5a5a;
}

.remove-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.remove-btn:hover {
  color: #f95f62;
}

.add-card-btn {
  background-color: #fffd70;
  border: none;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.add-card-btn:hover {
  color: black;
  background-color: rgb(255, 251, 3);
}

.add-image-btn {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.flashcard-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.create-btn,
.create-practice-btn {
  background-color: #fffd70;
  border: 2px solid black;
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.create-btn {
  background-color: white;
  border: 2px solid black;
}

/* .create-btn:hover {
  background-color: #fbc02d;
  border: 2px solid #fbc02d;
  color: white;
} */
/* 
.create-practice-btn:hover {
  background-color: #daa520;
  border: 2px solid #daa520;
} */
