.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffea00; /* Yellow background */
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.hand-icon {
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-icon {
  font-size: 40px; /* Adjust the size of the logout icon */
  color: black;
}
