.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffd70;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.hand-icon {
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-icon {
  font-size: 30px;
  color: black;
  cursor: pointer;
}
