.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 300px;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.hand-icon {
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-icon-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 35px;
  color: black;
  margin: 0; 
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 120px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
