/* =========== GOOGLE FONT =========== */
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* =========== COLORS =========== */
  --primary-color: #fffd70;
  --secondary-color: #fbc02d;
  --black-color: #000000;
  --white-color: white;
  --background-color: #ffffe8;

  /* =========== TYPOGRAPHY =========== */
  --main-font: "Prompt", sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.1rem;
  --smaller-font-size: 0.813rem;

  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  --border-radius: 20px;
}

/* Resets */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}
