.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff7cc; /* Background color */
}

.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px 20px 200px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px; /* Space between search and categories */
}

.search-input {
  width: 100%; /* Width of the search bar */
  padding: 10px 10px 10px 15px;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  font-size: 14px;
}

.searchInput-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.left-input {
  width: 100%;
}
.right-input {
  display: flex;
  align-items: center;
}
.search-icon {
  width: 100%;
  font-size: 2rem;
}
.main-title {
  font-size: 28px; /* Size of the title */
  font-weight: bold;
  color: #f8d52c; /* Title color */
  text-align: center; /* Center alignment */
  margin-top: 10px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}

.top-text {
  font-size: 24px;
  font-weight: bold;
}

.reco {
  margin-bottom: 20px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  margin: 20px 0;
}

.category-button {
  background-color: white; /* Button color */
  border: solid 1px #d2d2d2;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flashcard-sets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.bottom {
  width: 100%;
}
