.home-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 300px;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px; /* Space between search and categories */
}

.search-input {
  width: 100%; /* Width of the search bar */
  padding: 10px 10px 10px 15px;
  border: 2px solid #d2d2d2;
  border-radius: 50px;
  font-size: 16px;
}

.searchInput-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.left-input {
  width: 100%;
}
.right-input {
  display: flex;
  align-items: center;
}
.search-icon {
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
}
.main-title {
  font-size: var(--h1-font-size);
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  text-shadow: 1px 1px 0px #000, /* Right bottom shadow */ -1px 1px 0px #000,
    /* Left bottom shadow */ 1px -1px 0px #000,
    /* Right top shadow */ -1px -1px 0px #000,
    /* Left top shadow */ 1px 0px 0px #000, /* Right */ -1px 0px 0px #000,
    /* Left */ 0px 1px 0px #000, /* Bottom */ 0px -1px 0px #000;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  margin-top: 20px;
}

.top-text {
  font-size: var(--h3-font-size);
  font-weight: bold;
}

.reco {
  margin-bottom: 20px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  margin: 40px 0;
}

.category-button {
  background-color: white; /* Button color */
  border: solid 1px #d2d2d2;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: var(--small-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: var(--primary-color);
}

.flashcard-sets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Create three equal columns */
  gap: 20px; /* Space between the cards */
  padding: 0 40px;
}

.bottom {
  width: 100%;
}

@media (max-width: 1500px) {
  .home-page-content {
    padding: 80px 100px;
  }

}

@media (max-width: 768px) {
  .home-page-content {
    padding: 80px 50px; 
  }

  .search-section {
    width: 90%; 
  }

  .main-title {
    font-size: var(--h2-font-size); 
  }

  .top-container {
    padding: 0 20px;
    text-align: center;
    display: block;
  }

  .flashcard-sets {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
}


@media (max-width: 480px) {
  .home-page-content {
    padding: 80px 20px; 
  }

  .search-section {
    width: 100%; 
  }

  .main-title {
    font-size: var(--h3-font-size); 
  }

  .category-button {
    padding: 8px 12px; 
    font-size: 14px;
  }

  .flashcard-sets {
    grid-template-columns: 1fr; 
    gap: 10px; 
  }
}